<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SEI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SEI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <SEI.Properties.Settings>
            <setting name="uOraclePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="uExchangePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="uSiebelPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="uOracleConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="uOracleConnectionStringS" serializeAs="String">
                <value />
            </setting>
        </SEI.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SEI.Properties.Settings>
            <setting name="OraclePassword" serializeAs="String">
                <value>Qw123456</value>
            </setting>
            <setting name="OracleSchema" serializeAs="String">
                <value>SIEBEL</value>
            </setting>
            <setting name="SiebelLogin" serializeAs="String">
                <value>SEI_TECH_USER</value>
            </setting>
            <setting name="LogSeverity" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ExchangeLogin" serializeAs="String">
                <value>tech_siebel_ssseadm</value>
            </setting>
            <setting name="ExchangePassword" serializeAs="String">
                <value>QW123456</value>
            </setting>
            <setting name="ExchangeDomain" serializeAs="String">
                <value>crmsbrf.ua</value>
            </setting>
            <setting name="ExchangeService" serializeAs="String">
                <value>https://mail.crmsbrf.ua/EWS/Exchange.asmx</value>
            </setting>
            <setting name="MinPoolSize" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MaxPoolSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="LDAPAddress" serializeAs="String">
                <value>LDAP://crmsbrf.ua/DC=crmsbrf,DC=ua</value>
            </setting>
            <setting name="DecrPoolSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IncrPoolSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ConnectionTimeout" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ConnectionLifeTime" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="DecrPoolSizeS" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IncrPoolSizeS" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ConnectionTimeoutS" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ConnectionLifeTimeS" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="MinPoolSizeS" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxPoolSizeS" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SiebelWSDeleteTimeout" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="SiebelWSTimeout" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ExchangeWSTimeout" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TimeSEIUsersSync" serializeAs="String">
                <value />
            </setting>
            <setting name="OracleLogin" serializeAs="String">
                <value>SEI_TECH_USER</value>
            </setting>
            <setting name="OracleTNS" serializeAs="String">
                <value>CRMPSI</value>
            </setting>
            <setting name="SiebelPassword" serializeAs="String">
                <value>Qw123456</value>
            </setting>
            <setting name="SyncPeriod" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>D:\SEILog</value>
            </setting>
        </SEI.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="SEI_spcIntegration_spcExchange">
                 <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" securityHeaderLayout="Lax" includeTimestamp="false" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
<!--                <security defaultAlgorithmSuite="Default"  requireDerivedKeys="true" securityHeaderLayout="Lax" includeTimestamp="false" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"> -->
                  <localClientSettings detectReplays="false"/>
                        <localServiceSettings detectReplays="false"/>
                    </security>
                    <textMessageEncoding messageVersion="Soap11" writeEncoding="utf-8">
                        <readerQuotas maxStringContentLength="65536" maxArrayLength="131072" maxBytesPerRead="32768" maxNameTableCharCount="131072"/>
                    </textMessageEncoding>
                    <httpsTransport maxReceivedMessageSize="524288" maxBufferSize="524288"/>
<!--                 <httpTransport maxReceivedMessageSize="524288" maxBufferSize="524288"/> -->
                </binding>
            </customBinding>
        </bindings>
        <client>
<!--         <endpoint address="https://crmbf.sbrf.ua.loc:8443/eai_anon_rus/start.swe?SWEExtSource=SecureWebService&amp;SWEExtCmd=Execute" binding="customBinding" bindingConfiguration="SEI_spcIntegration_spcExchange" contract="SiebelIntegrationSEI.SEI_spcIntegration_spcExchange" name="SEI_spcIntegration_spcExchange"/>  -->
       <endpoint address="https://crmpsi.sbrf.ua.loc:8443/eai_anon_rus/start.swe?SWEExtSource=SecureWebService&amp;SWEExtCmd=Execute" binding="customBinding" bindingConfiguration="SEI_spcIntegration_spcExchange" contract="SiebelIntegrationSEI.SEI_spcIntegration_spcExchange" name="SEI_spcIntegration_spcExchange"/>
<!--        <endpoint address="https://crmsit.sbrf.ua.loc:8443/eai_anon_rus/start.swe?SWEExtSource=SecureWebService&amp;SWEExtCmd=Execute" binding="customBinding" bindingConfiguration="SEI_spcIntegration_spcExchange" contract="SiebelIntegrationSEI.SEI_spcIntegration_spcExchange" name="SEI_spcIntegration_spcExchange"/> -->
<!--       <endpoint address="http://crmsit.sbrf.ua.loc:8080/eai_anon_rus/start.swe?SWEExtSource=SecureWebService&amp;SWEExtCmd=Execute" binding="customBinding" bindingConfiguration="SEI_spcIntegration_spcExchange" contract="SiebelIntegrationSEI.SEI_spcIntegration_spcExchange" name="SEI_spcIntegration_spcExchange"/> -->
        </client>
    </system.serviceModel>
</configuration>

